<div class="home-page">

  <div class="container">

    <div class="row justify-content-center align-items-center min-vh-100">

      <div class="col-md-5">

        <div class="card home-card shadow-lg rounded-4 border-0">

          <div class="card-body text-center p-5">

            <h1 class="mb-3 text-white">
              Secure Banking Portal
            </h1>

            <p class="text-light mb-4">
              Fast • Secure • Reliable Banking
            </p>

            <div class="d-grid gap-3">

              <button
                class="btn btn-primary btn-lg"
                routerLink="/login">
                Login
              </button>

              <button
                class="btn btn-outline-light btn-lg"
                routerLink="/register">
                Sign Up
              </button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>