.history-page {
  min-height: 100vh;

  background:
    linear-gradient(
      rgba(0,35,80,0.82),
      rgba(0,0,0,0.88)
    ),
    url('https://images.unsplash.com/photo-1554224155-6726b3ff858f');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.history-card {
  background: rgba(18,32,50,0.95);
  color: white;
  border: 1px solid rgba(255,255,255,.1);
  backdrop-filter: blur(10px);
}

.account-box {
  background: rgba(16,29,46,0.95);
  border: 1px solid #2b415c;
}

.table-dark {
  --bs-table-bg: transparent;
}

.table th {
  color: #4da3ff;
}

.table td {
  color: #e6edf5;
}

.btn-outline-light {
  border-width: 2px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-outline-light:hover {
  transform: translateY(-2px);
}